md-dialog(aria-label='Sell Item' ng-cloak flex='60')
	form(name='addItemForm')
		md-toolbar
			div.md-toolbar-tools
				h2 Sell Item
				span(flex)
				md-button.md-icon-button(ng-click='cancel()')
					md-icon.material-icons clear
		md-dialog-content
			div.md-dialog-content(layout='column')
				md-input-container.md-block
					label Item name
					input(type='text' name='name' ng-model='newItem.name' required)
					div(ng-messages='addItemForm.name.$error')
						div(ng-message='required') Name missing.
				div(layout='row', layout-xs='column')
					md-input-container(flex-gt-xs='30')
						label Department code (optional)
						input(type='text' name='deptCode' ng-model='newItem.deptCode')
					md-input-container(flex-gt-xs='70')
						label Course code (optional)
						input(type='text' name='courseCode' ng-model='newItem.courseCode')
				div(layout='row', layout-xs='column')
					md-input-container(flex-gt-xs='30')
						label Price
						input(type='number' name='price' ng-model='newItem.price' required)
						div(ng-messages='addItemForm.price.$error')
							div(ng-message='required') Pricing missing.
					md-input-container(flex-gt-xs='30')
						label Flexible price
						input(type='checkbox' name='priceFlexible' ng-model='newItem.priceFlexible')
				text-angular(ng-model='htmlVariable' placeholder='Click to type description')
		md-dialog-actions
			md-button(type='submit' ng-click='add()' ng-disabled='addItemForm.$invalid') Upload
