div(layout='column')
	div.inset(layout='row' layout-align='center center')
		div(flex='95' flex-gt-sm='80')
			div(ng-hide='success')
				h3 {{errorMessage}}
				md-button.md-primary(ng-click='back()') Return
			div(ng-show='success' layout='column')
				md-card
					md-card-title
						span.md-headline Department Detail
					md-card-content
						div
							p Deparment Code: {{dept.deptCode}}
							p Department Name: {{dept.deptName}}
				
				md-card
					md-toolbar.md-table-toolbar.md-default(ng-hide='selected.length || search')
						div.md-toolbar-tools
							span Course List under {{dept.deptName}}
							span(flex)
							md-button.md-icon-button(ng-show='admin' ng-click='addCourseDialog($event)' aria-label='Add')
								md-icon.material-icons add
							md-button.md-icon-button(ng-click='search = !search' aria-label='Search')
								md-icon.material-icons search

					md-toolbar.md-table-toolbar.md-default(ng-show='search && !selected.length')
						div.md-toolbar-tools
							md-input-container(flex md-no-float)
								md-icon.material-icons search
								input(type='text' ng-model='searchCourse' placeholder='Search Course')
							md-button.md-icon-button(ng-click='search = !search' aria-label='Back')
								md-icon.material-icons clear

					md-toolbar.md-table-toolbar.md-accent.md-hue-1(ng-show='selected.length')
						div.md-toolbar-tools
							span {{selected.length}} course(s) selected
							span(flex)
							md-button.md-icon-button(ng-click='delete()' aria-label='Delete')
								md-icon.material-icons delete
							
					md-table-container
						table.deptcourselist(md-table md-row-select='admin' ng-model='selected')
							thead(md-head md-order='order')
								tr(md-row)
									th.fixed(md-column md-order-by='courseCode') Course Code
									th(md-column md-order-by='courseName' hide-xs) Course Name
							tbody(md-body)
								tr(md-row ng-repeat='course in courses | filter: searchCourse | orderBy: order | limitTo: limit: (page - 1) * limit' md-select='course')
									td.fixed(md-cell)
										a(ng-href='#/course/{{course.courseCode}}') {{course.courseCode}}
									td(md-cell hide-xs) {{course.courseName}}
					md-table-pagination(md-limit='limit' md-page='page' md-total='{{courses.length}}')