
<div ng-hide="success">
  <h3>{{errorMessage}}</h3>
  <button ng-click="$route.reload()">Return</button>
</div>
<div ng-show="success">
  <h1>Department List</h1>
  <table>
    <tr>
      <th>Department Code</th>
      <th>Department Name</th>
      <th></th>
    </tr>
    <tr ng-show="admin">
      <form>
        <td>
          <input type="text" ng-model="newDept.deptCode" placeholder="New Department Code"/>
        </td>
        <td>
          <input type="text" ng-model="newDept.deptName" placeholder="New Department Name"/>
        </td>
        <td>
          <button type="submit" ng-show="admin" ng-click="add()">Add</button>
        </td>
      </form>
    </tr>
    <tr ng-repeat="dept in depts">
      <td> <a ng-href="#/dept/{{dept.deptCode}}">{{dept.deptCode}}</a></td>
      <td>{{dept.deptName}}</td>
      <td>
        <button ng-show="admin" ng-click="delete(dept.deptCode)">Delete</button>
      </td>
    </tr>
  </table>
</div>