div(ng-hide='success')
	h3 {{errorMessage}}
	button(ng-click='$route.reload()') Return
div(ng-show='success')
	h1 Department List
	table
		tr
			th Department Code
			th Department Name
			th
		tr(ng-show='admin')
			form
				td
					input(type='text' ng-model='newDept.deptCode' placeholder='New Department Code')
				td
					input(type='text' ng-model='newDept.deptName' placeholder='New Department Name')
				td
					button(type='submit' ng-show='admin' ng-click='add()') Add
		tr(ng-repeat='dept in depts')
			td 
				a(ng-href='#/dept/{{dept.deptCode}}') {{dept.deptCode}}
			td {{dept.deptName}}
			td
				button(ng-show='admin' ng-click='delete(dept.deptCode)') Delete