md-dialog(aria-label='Edit Item' ng-cloak flex='95' flex-gt-sm='60')
	form(name='editItemForm')
		md-toolbar
			div.md-toolbar-tools
				h2 Edit Item
				span(flex)
				md-button.md-icon-button(ng-click='cancel()')
					md-icon.material-icons clear
		md-dialog-content
			div.md-dialog-content(layout='column')
				md-input-container.md-block
					label Item name
					input(type='text' name='name' ng-model='edit.name' required)
					div(ng-messages='editItemForm.name.$error')
						div(ng-message='required') Name missing.
				div(layout='row', layout-xs='column' layout-align='start center')
					md-input-container(flex-gt-xs='30')
						label Price
						input(type='number' name='price' ng-model='edit.price' required)
						div(ng-messages='editItemForm.price.$error')
							div(ng-message='required') Pricing missing.
					div(flex-gt-xs='70')
						md-checkbox(ng-model='edit.priceFlexible') Flexible price
				text-angular(ng-model='htmlVariable' placeholder='Click to type description')
		md-dialog-actions
			md-button(type='submit' ng-click='editItem()' ng-disabled='editItemForm.$invalid') Submit