
<md-dialog aria-label="Edit Course" ng-cloak="ng-cloak" flex="95" flex-gt-sm="60">
  <form name="editCourseForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit course</h2><span flex="flex"></span>
        <md-button ng-click="cancel()" class="md-icon-button">
          <md-icon class="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout="column" class="md-dialog-content">
        <h3>Basic information</h3>
        <div layout="row" layout-xs="column">
          <md-input-container flex-gt-xs="30">
            <label>Code</label>
            <input type="text" name="courseCode" ng-model="edit.courseCode" disabled="disabled"/>
          </md-input-container>
          <md-input-container flex-gt-xs="70">
            <label>Instructor</label>
            <input type="text" name="prof" ng-model="edit.prof"/>
          </md-input-container>
        </div>
        <div>
          <md-input-container class="md-block">
            <label>Name</label>
            <input type="text" name="courseName" ng-model="edit.courseName" required="required"/>
            <div ng-messages="editCourseForm.courseName.$error">
              <div ng-message="required">Name missing.</div>
            </div>
          </md-input-container>
        </div>
        <h3>Schedule</h3>
        <div layout="row">
          <div flex="20">
            <md-input-container class="md-block">
              <label>Day</label>
              <md-select ng-model="day">
                <md-option ng-repeat="d in days" value="{{d.index}}">{{d.val}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div flex="45">
            <md-input-container class="md-block">
              <label>Time</label>
              <md-select ng-model="time">
                <md-option ng-repeat="t in times" value="{{t.index}}">{{t.val}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div flex="25">
            <md-input-container class="md-block">
              <label>Venue</label>
              <input type="text" ng-model="venue"/>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-button ng-click="addLesson()" class="md-icon-button">
              <md-icon class="material-icons">add</md-icon>
            </md-button>
          </div>
        </div>
        <div layout="row" ng-repeat="lesson in editLessons">
          <div flex="20"> 
            <p>{{days[lesson.day-1].val}}</p>
          </div>
          <div flex="45">
            <p>{{times[lesson.time-1].val}}</p>
          </div>
          <div flex="25">
            <p>{{lesson.venue}}</p>
          </div>
          <div layout="row" layout-align="center center">
            <md-button ng-click="removeLesson()" class="md-icon-button">
              <md-icon class="material-icons">clear</md-icon>
            </md-button>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button type="submit" ng-click="editCourse()" ng-disabled="editCourseForm.$invalid">Edit course</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>