
<div ng-hide="isLogged" layout="column">
  <div layout="row" layout-align="center center" class="inset">
    <div flex="95" flex-gt-sm="80">
      <div layout="column" layout-align="start center" layout-gt-xs="row">
        <div flex="50">
          <div>
            <h1>Welcome to CUPlatform!</h1>
          </div>
        </div>
        <div flex-gt-sm="20">
          <md-card>
            <md-card-title><span class="md-headline">Log in</span></md-card-title>
            <md-card-content>
              <form name="loginForm"><span class="error">{{loginMessage}}</span>
                <md-input-container class="md-block">
                  <label>User ID</label>
                  <input type="text" name="userID" ng-model="user.uid" required="required"/>
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Password</label>
                  <input type="password" name="password" ng-model="user.pwd" required="required"/>
                </md-input-container>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="registerDialog($event)">Register</md-button>
                  <md-button type="submit" ng-click="login()" ng-disabled="loginForm.$invalid">Log in</md-button>
                </md-card-actions>
              </form>
            </md-card-content>
          </md-card>
        </div>
      </div>
      <div>
        <h1>CUplatform</h1>
        <p>CUPlatform aims at providing an all-in-one platform including a comprehensive databank and discussion forum for CUHK students’ school life and learning purpose.</p>
        <h3>Give a try?</h3>
        <md-card>
          <form ng-submit="$location.path(&quot;/visitor/course/&quot; + searchCourse)">
            <div class="md-toolbar-tools">
              <md-input-container flex="flex" md-no-float="md-no-float">
                <md-icon class="material-icons">search</md-icon>
                <input type="text" ng-model="searchCourse" placeholder="Course code quick search"/>
              </md-input-container>
            </div>
          </form>
        </md-card>
      </div>
    </div>
  </div>
</div>
<div ng-show="isLogged" layout="column">
  <div layout="row" layout-align="center center" class="inset">
    <div flex="90" flex-gt-md="80">
      <h1>Log in successful!</h1>
      <p>Hello, {{uid}}.</p>
    </div>
  </div>
</div>