
<div ng-hide="isLogged" layout="column">
  <div layout="row" layout-align="center center" class="inset">
    <div flex="95" flex-gt-sm="80">
      <div layout="column" layout-align="start center" layout-gt-xs="row">
        <div flex="50">
          <div>
            <h1>Welcome to CUPlatform!</h1>
          </div>
        </div>
        <div flex-gt-sm="20">
          <md-card>
            <md-card-title><span class="md-headline">Log in</span></md-card-title>
            <md-card-content>
              <form name="loginForm"><span class="error">{{loginMessage}}</span>
                <md-input-container class="md-block">
                  <label>User ID</label>
                  <input type="text" name="userID" ng-model="user.uid" required="required" autocomplete="off"/>
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Password</label>
                  <input type="password" name="password" ng-model="user.pwd" required="required"/>
                </md-input-container>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="registerDialog($event)">Register</md-button>
                  <md-button type="submit" ng-click="login()" ng-disabled="loginForm.$invalid">Log in</md-button>
                </md-card-actions>
              </form>
            </md-card-content>
          </md-card>
        </div>
      </div>
      <div>
        <h1>CUplatform</h1>
        <p>CUPlatform aims at providing an all-in-one platform including a comprehensive databank and discussion forum for CUHK students’ school life and learning purpose.</p>
        <h3>Give a try?</h3>
        <md-card>
          <form ng-submit="$location.path(&quot;/visitor/course/&quot; + searchCourse)">
            <div class="md-toolbar-tools">
              <md-input-container flex="flex" md-no-float="md-no-float">
                <md-icon class="material-icons">search</md-icon>
                <input type="text" ng-model="searchCourse" placeholder="Course code quick search"/>
              </md-input-container>
            </div>
          </form>
        </md-card>
      </div>
    </div>
  </div>
</div>
<div ng-show="isLogged" layout="column">
  <div layout="row" layout-align="center center" class="inset">
    <div flex="95" flex-gt-md="80">
      <h1 layout-padding="layout-padding">Overview</h1>
      <md-card>
        <md-table-container>
          <table class="timetableHome">
            <thead>
              <tr>
                <th class="index"></th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in timetable">
                <td class="index">{{$index + 1}}</td>
                <td> <a ng-href="#/course/{{row[0].name}}">{{row[0].name}}</a></td>
                <td> <a ng-href="#/course/{{row[1].name}}">{{row[1].name}}</a></td>
                <td> <a ng-href="#/course/{{row[2].name}}">{{row[2].name}}</a></td>
                <td> <a ng-href="#/course/{{row[3].name}}">{{row[3].name}}</a></td>
                <td> <a ng-href="#/course/{{row[4].name}}">{{row[4].name}}</a></td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-card>
      <h1 layout-padding="layout-padding">Update Center</h1>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">You have {{updates.length}} updates.</md-subheader>
          <md-virtual-repeat-container id="shrinkcontainer" flex="flex" md-auto-shrink="md-auto-shrink">
            <md-list-item md-virtual-repeat="update in updates" md-item-size="73" class="md-2-line repeated-item">
              <div class="md-list-item-text">
                <h3>{{update.topic}} @{{update.date | date: 'd/M/yyyy h:mma'}}</h3>
                <p>{{update.content}}</p>
              </div>
              <md-button ng-click="deleteUpdate(update._id)" aria-label="Delete Update" class="md-secondary md-icon-button">
                <md-icon class="material-icons">delete</md-icon>
              </md-button>
            </md-list-item>
          </md-virtual-repeat-container>
        </md-list>
      </md-card>
    </div>
  </div>
</div>