div(ng-hide='isLogged' layout='column')
	div.inset(layout='row' layout-align='center center')
		div(flex='95' flex-gt-sm='80')
			div(layout='column' layout-align='start center' layout-gt-xs='row')
				div(flex=50)
					div
						h1 Welcome to CUPlatform!
				div(flex-gt-sm=20)
					md-card
						md-card-title
							span.md-headline Log in
						md-card-content
							form(name='loginForm')
								span.error {{loginMessage}}
								md-input-container.md-block
									label User ID
									input(type='text' name='userID' ng-model='user.uid' required)
								md-input-container.md-block
									label Password
									input(type='password' name='password' ng-model='user.pwd' required)
								md-card-actions(layout='row' layout-align='end center')
									md-button(ng-click='registerDialog($event)') Register
									md-button(type='submit' ng-click='login()' ng-disabled='loginForm.$invalid') Log in

			div
				h1 CUplatform
				p CUPlatform aims at providing an all-in-one platform including a comprehensive databank and discussion forum for CUHK students’ school life and learning purpose.

				h3 Give a try?
				md-card
					form(ng-submit='$location.path("/visitor/course/" + searchCourse)')
						div.md-toolbar-tools
							md-input-container(flex md-no-float)
								md-icon.material-icons search
								input(type='text' ng-model='searchCourse' placeholder='Course code quick search')

div(ng-show='isLogged' layout='column')
	div.inset(layout='row' layout-align='center center')
		div(flex='95' flex-gt-md='80')
			h1(layout-padding) Update Center

			md-card
				md-list
					md-subheader.md-no-sticky You have {{updates.length}} updates.
					md-virtual-repeat-container#shrinkcontainer(flex md-auto-shrink)
						md-list-item.md-2-line.repeated-item(md-virtual-repeat='update in updates' md-item-size='73')
							div.md-list-item-text
								h3 {{update.topic}} @{{update.date | date: 'd/M/yyyy h:mma'}}
								p {{update.content}}
							md-button.md-secondary.md-icon-button(ng-click='deleteUpdate(update._id)' aria-label='Delete Update')
									md-icon.material-icons delete