doctype html
html(ng-app='CUP')
	head
		title CUP
		link(rel='stylesheet' href='/node/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet' href='/node/angular-material/angular-material.min.css')
		link(rel='stylesheet' href='/node/angular-material-data-table/dist/md-data-table.min.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')

		link(rel='stylesheet' href='/textAngular/dist/textAngular.css')
		link(rel='stylesheet' href='/stylesheets/style.css')

		meta(name="viewport" content="width=device-width, initial-scale=1.0")

	body(ng-controller='topController' ng-cloak layout='row')
		// Angular
		script(type='text/javascript' src='/node/angular/angular.min.js')
		script(type='text/javascript' src='/node/angular-route/angular-route.min.js')
		script(type='text/javascript' src='/node/angular-aria/angular-aria.min.js')
		script(type='text/javascript' src='/node/angular-animate/angular-animate.js')
		script(type='text/javascript' src='/node/angular-material/angular-material.min.js')
		script(type='text/javascript' src='/node/angular-messages/angular-messages.min.js')
		script(type='text/javascript' src='/node/angular-material-data-table/dist/md-data-table.min.js')

		// TextAngular
		script(type='text/javascript' src='/textAngular/dist/textAngular-rangy.min.js')
		script(type='text/javascript' src='/textAngular/dist/textAngular-sanitize.min.js')
		script(type='text/javascript' src='/textAngular/dist/textAngular.min.js')

		// Async
		script(type='text/javascript' src='/node/async/dist/async.js')

		// Socket.io
		script(type='text/javascript' src='/socket.io/socket.io.js')
		script(type='text/javascript' src='/node/angular-socket-io/socket.min.js')

		// Main app
		script(type='text/javascript' src='/javascripts/main.js')
		script(type='text/javascript' src='/javascripts/services.js')
		script(type='text/javascript' src='/javascripts/controllers.js')
		script(type='text/javascript' src='/javascripts/controllers/topcontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/homecontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/deptlistcontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/deptcourselistcontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/courseinfocontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/rescontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/itemlistcontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/iteminfocontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/threadlistcontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/threadcontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/messengercontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/tradingrecordcontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/profilecontroller.js')
		script(type='text/javascript' src='/javascripts/controllers/timetablecontroller.js')

		// content
		md-sidenav.md-sidenav-left(md-component-id='menu' md-is-locked-open="$mdMedia('gt-md')" md-whiteframe='4')
			md-toolbar(class='md-tall md-accent md-hue-2' md-whiteframe='4')
				div(ng-hide='isLogged' class='md-toolbar-tools-bottom inset' layout='column')
					div
						span.md-headline Visitor
						br
						span.md-subhead Please log in
				div(ng-show='isLogged' class='md-toolbar-tools-bottom inset' layout='column')
					div(layout='row' layout-align='start start')
						img.avatar(ng-src='/images/user/{{icon}}' alt='{{uid}}')
						span(flex)
						md-button.md-icon-button(ng-click = 'refresh()' aria-label='Refresh')
							md-icon.material-icons refresh

					div(layout='column')
						span.md-headline {{uid}}
						span.md-subhead Point: {{point}}
						
			div(ng-hide='isLogged')
				md-list
					md-list-item(md-ink-ripple layout='row' ng-click='$location.path("/");toggleMenu()')
						div.inset
							md-icon.material-icons home
						div.inset Home
					md-list-item(md-ink-ripple layout='row' ng-click='$location.path("/visitor/dept");toggleMenu()')
						div.inset
							md-icon.material-icons library_books
						div.inset Courses
			div(ng-show='isLogged')
				md-list
					md-list-item(md-ink-ripple layout='row' ng-click='$location.path(item.link);toggleMenu()' ng-repeat='item in menu')
						div.inset
							md-icon.material-icons {{item.icon}}
						div.inset {{item.title}}
					md-divider
					md-subheader User
					md-list-item(md-ink-ripple layout='row' ng-click='$location.path(item.link);toggleMenu()' ng-repeat='item in userMenu')
						div.inset
							md-icon.material-icons {{item.icon}}
						div.inset {{item.title}}

		div(layout='column' layout-fill)
			md-toolbar(md-whiteframe='4')
				div.md-toolbar-tools(ng-hide='isLogged')
					md-button(ng-click='toggleMenu()' class='md-icon-button' aria-label='Menu' )
						md-icon.material-icons menu
					strong CUPlatform

				div.md-toolbar-tools(ng-show='isLogged')
					md-button(ng-click='toggleMenu()' class='md-icon-button' aria-label='Menu' )
						md-icon.material-icons menu	
					strong CUPlatform
					span(flex)
					span {{uid}}
					md-button(ng-click='logout()' class='md-icon-button' aria-label='Log out')
						md-icon.material-icons exit_to_app
			md-content.md-default-theme(flex layout-padding)
				div(ng-view)
