
<div layout="column">
  <div layout="row" layout-align="center center" class="inset">
    <div flex="90" flex-gt-sm="80">
      <div ng-hide="success">
        <h3>{{errorMessage}}</h3>
        <md-button ng-click="back()" class="md-primary">Return</md-button>
      </div>
      <div ng-show="success">
        <h1 layout-padding="layout-padding">Trading Platform</h1>
        <md-card>
          <md-toolbar ng-hide="selected.length || search" class="md-table-toolbar md-default">
            <div class="md-toolbar-tools"><span>Item List</span><span flex="flex"></span>
              <md-button ng-click="addItemDialog($event)" aria-label="Add" class="md-icon-button">
                <md-icon class="material-icons">add</md-icon>
              </md-button>
              <md-button ng-click="search = !search" aria-label="Search" class="md-icon-button">
                <md-icon class="material-icons">search</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-toolbar ng-show="search &amp;&amp; !selected.length" class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
              <md-input-container flex="flex" md-no-float="md-no-float">
                <md-icon class="material-icons">search</md-icon>
                <input type="text" ng-model="searchItem" placeholder="Search item"/>
              </md-input-container>
              <md-button ng-click="search = !search" aria-label="Back" class="md-icon-button">
                <md-icon class="material-icons">clear</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-toolbar ng-show="selected.length" class="md-table-toolbar md-accent md-hue-1">
            <div class="md-toolbar-tools"><span>{{selected.length}} item(s) selected</span><span flex="flex"></span>
              <md-button ng-click="delete()" aria-label="Delete" class="md-icon-button">
                <md-icon class="material-icons">delete</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-table-container>
            <table md-table="md-table" md-row-select="admin" ng-model="selected">
              <thead md-head="md-head" md-order="order">
                <tr md-row="md-row">
                  <th md-column="md-column" md-order-by="deptCode" hide-xs="hide-xs">Department</th>
                  <th md-column="md-column" md-order-by="courseCode" hide-xs="hide-xs">Course</th>
                  <th md-column="md-column" md-order-by="name">Item name</th>
                  <th md-column="md-column" md-order-by="price">Price</th>
                  <th md-column="md-column" md-order-by="seller" hide-xs="hide-xs">Seller</th>
                  <th md-column="md-column" md-order-by="date" hide-xs="hide-xs">Date</th>
                </tr>
              </thead>
              <tbody md-body="md-body">
                <tr md-row="md-row" ng-repeat="item in items | filter: searchItem | orderBy: order | limitTo: limit: (page - 1) * limit" md-select="item">
                  <td md-cell="md-cell" hide-xs="hide-xs">{{item.deptCode}}</td>
                  <td md-cell="md-cell" hide-xs="hide-xs">{{item.courseCode}}</td>
                  <td md-cell="md-cell"><a ng-href="#/item/{{item._id}}">{{item.name}}</a></td>
                  <td md-cell="md-cell">{{item.price | currency}}</td>
                  <td md-cell="md-cell" hide-xs="hide-xs">{{item.seller}}</td>
                  <td md-cell="md-cell" hide-xs="hide-xs">{{item.date | date:'d/M/yyyy h:mma'}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </md-card>
      </div>
    </div>
  </div>
</div>