div(layout='column')
	div.inset(layout='row' layout-align='center center')
		div(flex='95' flex-gt-sm='80')
			div(ng-hide='success')
				h3 {{errorMessage}}
				md-button.md-primary(ng-click='back()') Return
			div(ng-show='success')
				md-card
					md-card-header
						md-card-header-text
							span.md-title {{item.seller}}
							span.md-subhead {{item.date | date:'d/M/yyyy h:mma'}}
						span(flex)
						md-button.md-icon-button(ng-show='uid === item.seller && item.active' ng-click='editItemDialog($event)' aria-label='Edit item')
							md-icon.material-icons mode_edit
						md-button.md-icon-button(ng-show='uid === item.seller && item.active' ng-click='delete()' aria-label='Delete item')
							md-icon.material-icons delete
					div(layout-gt-xs='row' layout='column')
						div(flex='60')
							md-card-title
								md-card-title-text
									span.md-headline {{item.name}}
									
									span.md-subhead {{item.category}}
							md-card-content
								
								h3.price {{item.price | currency}} 
									span(ng-show='item.priceFlexible') (flexible) 
									span.error {{item.sold?(item.active?"":"Sold"):(item.active?"":"Unavailable")}}
								p 
								span Description:
								section(layout-wrap)
									span(ng-bind-html='item.description')
						md-card-title-media(flex='40' layout-padding)
							div.md-media-xl.card-media
								img.md-card-image(ng-src='/images/item/{{item.img}}')
					md-card-actions(layout='row' layout-align='end center')
						md-button(ng-show="uid !== item.seller && !item.sold && item.active && bought" ng-click='newMessageDialog($event, item.seller)' aria-label='Contact seller') Contact seller
						md-button(ng-show='uid !== item.seller && !item.sold && item.active && !bought' ng-click='interest()') Interest
						md-button(ng-show='uid !== item.seller && !item.sold && item.active && bought' ng-click='uninterest()') Uninterest

				md-card(ng-show='uid === item.seller')
					md-list(flex)
						md-subheader.md-no-sticky {{item.buyer.length}} person(s) interested.
						md-divider
						md-list-item(ng-repeat='buyer in item.buyer' ng-click='sellDialog($event, buyer)')
							p {{buyer}}
							md-icon.md-secondary.material-icons(ng-show="uid === item.seller && item.active" ng-click='newMessageDialog($event, buyer)' aria-label='Contact buyer') message
							md-divider(ng-if='!$last')