div(layout='column')
	div.inset(layout='row' layout-align='center center')
		div(flex='95' flex-gt-sm='80')
			div(ng-hide='success')
				h3 {{errorMessage}}
				md-button.md-primary(ng-click='back()') Return
			div(ng-show='success')
				div(layout='row' layout-align='start center')
					h1(layout-padding) Trading Platform
					span(flex)
					md-button.md-raised(ng-click='addItemDialog($event)') 
						md-icon.material-icons add
						span New item
					md-button.md-raised(ng-click='$location.path("/user/history")') 
						md-icon.material-icons shopping_cart 
						span Record
				h2(layout-padding) New items
				md-card.gridListdemoDynamicTiles(layout-padding)
					md-grid-list(md-cols-xs='2' md-cols-sm='3' md-cols-md='6' md-cols-gt-md='6' md-row-height='1:1' md-gutter='8px' md-gutter-gt-sm='4px')
						md-grid-tile(ng-repeat='item in items | limitTo: 6 | orderBy: "-date"' md-rowspan='' md-colspan='1' ng-click='$location.path("/item/" + item._id)')
							figure
								img(ng-src='/images/item/{{item.img}}')
							md-grid-tile-footer
								h3 {{item.name}}

				h2(layout-padding) Bargins
				md-card.gridListdemoDynamicTiles(layout-padding)
					md-grid-list(md-cols-xs='2' md-cols-sm='3' md-cols-md='6' md-cols-gt-md='6' md-row-height='1:1' md-gutter='8px' md-gutter-gt-sm='4px')
						md-grid-tile(ng-repeat='item in items | limitTo: 6 | orderBy: "price"' md-rowspan='' md-colspan='1' ng-click='$location.path("/item/" + item._id)')
							figure
								img(ng-src='/images/item/{{item.img}}')
							md-grid-tile-footer
								h3 {{item.name}} ({{item.price | currency}})
				
				h2(layout-padding) Cannot find goodies?
				md-card
					md-toolbar.md-table-toolbar.md-default(ng-hide='selected.length || search')
						div.md-toolbar-tools
							span Item List
							span(flex)
							md-button.md-icon-button(ng-click='search = !search' aria-label='Search')
								md-icon.material-icons search

					md-toolbar.md-table-toolbar.md-default(ng-show='search && !selected.length')
						div.md-toolbar-tools
							md-input-container(flex md-no-float)
								md-icon.material-icons search
								input(type='text' ng-model='searchItem' placeholder='Search item')
							md-button.md-icon-button(ng-click='search = !search' aria-label='Back')
								md-icon.material-icons clear

					md-toolbar.md-table-toolbar.md-accent.md-hue-1(ng-show='selected.length')
						div.md-toolbar-tools
							span {{selected.length}} item(s) selected
							span(flex)
							md-button.md-icon-button(ng-click='delete()' aria-label='Delete')
								md-icon.material-icons delete

					md-table-container
						table(md-table md-row-select='admin' ng-model='selected')
							thead(md-head md-order='order')
								tr(md-row)
									th(md-column md-order-by='name') Item name
									th(md-column md-order-by='category' hide show-gt-sm) Category
									th(md-column md-order-by='price') Price
									th(md-column md-order-by='seller' hide show-gt-md) Seller
									th(md-column md-order-by='date' hide show-gt-md) Date
							tbody(md-body)
								tr(md-row ng-repeat='item in items | filter: searchItem | orderBy: order | limitTo: limit: (page - 1) * limit' md-select='item')
									td(md-cell)
										a(ng-href='#/item/{{item._id}}') {{item.name}}
									td(md-cell hide show-gt-sm) {{item.category}}
									td(md-cell) {{item.price | currency}}
									td(md-cell hide show-gt-md) {{item.seller}}
									td(md-cell hide show-gt-md) {{item.date | date:'d/M/yyyy h:mma'}}
					md-table-pagination(md-limit='limit' md-page='page' md-total='{{items.length}}')