div(ng-hide='success')
	h3 {{errorMessage}}
	button(ng-click='$route.reload()') Return
div(ng-show='success')
	h1 Item Detail
	div(ng-hide='editing')
		p Item name: {{item.name}}
		p Seller: {{item.seller}}
		p Department: {{item.deptCode}}
		p Course: {{item.courseCode}}
		p Price: {{item.price | currency}} 
			span(ng-show='item.priceFlexible') (flexible)
		p 
			| Description:
			br
			span(ng-bind-html='item.description')
		p Date: {{item.date | date:'d/M/yyyy'}}
		p
			button(ng-show='uid === item.seller' ng-click='enableEdit()') Edit Item
			button(ng-show='uid === item.seller' ng-disabled='item.sold' ng-click='transact()')  Sold
			button(ng-show='uid !== item.seller' ng-disabled='item.sold || bought' ng-click='buy()')  Buy

	div(ng-show='editing')
		form 
			p Item name: 
				input(type='text' ng-model='edit.name')
			p Seller: {{item.seller}}
			p Department: {{item.deptCode}}
			p Course: {{item.courseCode}}
			p Price:
				input(type='number' ng-model='edit.price')
				|  Flexible price?
				input(type='checkbox' ng-model='edit.priceFlexible')
			p Description:
			p
				text-angular(ng-model='htmlVariable')
			p Date: {{item.date | date:'d/M/yyyy'}}
			p
				button(type='submit' ng-click='editItem()') Sumbit
	
	div(ng-show='uid === item.seller')
		p
			strong Buyer list
		table
			tr(ng-repeat='buyer in item.buyers')
				td {{buyer}}
	p
		button(ng-click='$location.path("/barter")') Back