div(layout='column')
	div.inset(layout='row' layout-align='center center')
		div(flex='90' flex-gt-sm='80')
			div(ng-hide='success')
				h3 {{errorMessage}}
				md-button.md-primary(ng-click='back()') Return
			div(ng-show='success')
				h1(layout-padding) Trading Platform
				md-card
					md-toolbar.md-table-toolbar.md-default(ng-hide='selected.length || search')
						div.md-toolbar-tools
							span Item List
							span(flex)
							md-button.md-icon-button(ng-click='addItemDialog($event)' aria-label='Add')
								md-icon.material-icons add
							md-button.md-icon-button(ng-click='search = !search' aria-label='Search')
								md-icon.material-icons search

					md-toolbar.md-table-toolbar.md-default(ng-show='search && !selected.length')
						div.md-toolbar-tools
							md-input-container(flex md-no-float)
								md-icon.material-icons search
								input(type='text' ng-model='searchItem' placeholder='Search item')
							md-button.md-icon-button(ng-click='search = !search' aria-label='Back')
								md-icon.material-icons clear

					md-toolbar.md-table-toolbar.md-accent.md-hue-1(ng-show='selected.length')
						div.md-toolbar-tools
							span {{selected.length}} item(s) selected
							span(flex)
							md-button.md-icon-button(ng-click='delete()' aria-label='Delete')
								md-icon.material-icons delete

					md-table-container
							table(md-table md-row-select='admin' ng-model='selected')
								thead(md-head md-order='order')
									tr(md-row)
										th(md-column md-order-by='deptCode' hide-xs) Department
										th(md-column md-order-by='courseCode' hide-xs) Course
										th(md-column md-order-by='name') Item name
										th(md-column md-order-by='price') Price
										th(md-column md-order-by='seller' hide-xs) Seller
										th(md-column md-order-by='date' hide-xs) Date
								tbody(md-body)
									tr(md-row ng-repeat='item in items | filter: searchItem | orderBy: order | limitTo: limit: (page - 1) * limit' md-select='item')
										td(md-cell hide-xs) {{item.deptCode}}
										td(md-cell hide-xs) {{item.courseCode}}
										td(md-cell)
											a(ng-href='#/item/{{item._id}}') {{item.name}}
										td(md-cell) {{item.price | currency}}
										td(md-cell hide-xs) {{item.seller}}
										td(md-cell hide-xs) {{item.date | date:'d/M/yyyy h:mma'}}