div(layout='column')
	div.inset(layout='row' layout-align='center center')
		div(flex='95' flex-gt-sm='80')
			div(ng-hide='success')
				h3 {{errorMessage}}
				md-button.md-primary(ng-click='back()') Return
			div(ng-show='success')
				div(layout='column' layout-gt-sm='row')
					div(flex='30' show-gt-sm)
						md-card
							md-tabs(md-dynamic-height md-border-bottom)
								md-tab(label='User List')
									md-list(flex)
										md-list-item(ng-repeat='client in clients' ng-class='{selected: client.uid === selected}' ng-click='getChatRecord(client.uid)')
											p {{client.uid}}
								md-tab(label='Past record')
									md-list(flex)
										md-list-item(ng-repeat='client in pastList' ng-class='{selected: client === selected}' ng-click='getChatRecord(client)')
											p {{client}}

					div(flex='70')
						md-card
							md-card-title(ng-hide='selected')
								md-card-title-text
									span.md-headline Messages
									span.md-subhead(ng-show='selected') {{chat.error}}
							md-toolbar.md-table-toolbar.md-default(ng-show='chat.messages')
								form
									div.md-toolbar-tools(flex layout='row' layout-align='end center')
										md-input-container(flex md-no-float)
											input(flex type='text' ng-model='message' placeholder='To {{selected}}' autocomplete='off')
										md-button.md-icon-button(type='submit' ng-click='newMessage()' ng-disabled='!selected' aria-label='Comment')
											md-icon.material-icons comment
							md-divider
							md-list
								md-virtual-repeat-container#container(flex ng-show='chat.messages')
									md-list-item.md-2-line.repeated-item(md-virtual-repeat='message in chat.messages')
										div.md-list-item-text
											div(layout='row')
												h3 {{message.sender}}
												span(flex)
												p {{message.date | date: 'd/M/yyyy h:mma'}}
											p {{message.content}}
					
							
						
