
<div layout="column">
  <div layout="row" layout-align="center center" class="inset">
    <div flex="95" flex-gt-sm="80">
      <div ng-hide="success">
        <h3>{{errorMessage}}</h3>
        <md-button ng-click="back()" class="md-primary">Return</md-button>
      </div>
      <div ng-show="success">
        <div layout="column" layout-gt-sm="row">
          <div flex="30" show-gt-sm="show-gt-sm">
            <md-card>
              <md-tabs md-dynamic-height="md-dynamic-height" md-border-bottom="md-border-bottom">
                <md-tab label="User List">
                  <md-list flex="flex">
                    <md-list-item ng-repeat="client in clients" ng-class="{selected: client.uid === selected}" ng-click="getChatRecord(client.uid)">
                      <p>{{client.uid}}</p>
                    </md-list-item>
                  </md-list>
                </md-tab>
                <md-tab label="Past record">
                  <md-list flex="flex">
                    <md-list-item ng-repeat="client in pastList" ng-class="{selected: client === selected}" ng-click="getChatRecord(client)">
                      <p>{{client}}</p>
                    </md-list-item>
                  </md-list>
                </md-tab>
              </md-tabs>
            </md-card>
          </div>
          <div flex="70">
            <md-card>
              <md-card-title>
                <md-card-title-text><span class="md-headline">Messenger</span></md-card-title-text>
              </md-card-title>
              <md-toolbar ng-hide="selected" class="md-table-toolbar md-default">
                <form>
                  <div flex="flex" layout="row" layout-align="start center" class="md-toolbar-tools">
                    <md-input-container flex="flex" md-no-float="md-no-float">
                      <input flex="flex" type="text" ng-model="newUser" placeholder="Find user" autocomplete="off"/>
                    </md-input-container>
                    <md-button type="submit" ng-click="searchUser()" aria-label="Search user" class="md-icon-button">
                      <md-icon class="material-icons">search</md-icon>
                    </md-button>
                  </div>
                </form>
              </md-toolbar>
              <md-subheader ng-show="searchError" class="md-no-sticky">{{searchError}}</md-subheader>
              <md-toolbar ng-show="selected" class="md-table-toolbar md-default">
                <form>
                  <div flex="flex" layout="row" layout-align="start center" class="md-toolbar-tools">
                    <md-input-container flex="flex" md-no-float="md-no-float">
                      <input flex="flex" type="text" ng-model="message" placeholder="To {{selected}}" autocomplete="off"/>
                    </md-input-container>
                    <md-button type="submit" ng-click="newMessage()" aria-label="New message" class="md-icon-button">
                      <md-icon class="material-icons">comment</md-icon>
                    </md-button>
                    <md-button ng-click="selected=&quot;&quot;" aria-label="Back" class="md-icon-button">
                      <md-icon class="material-icons">clear</md-icon>
                    </md-button>
                  </div>
                </form>
              </md-toolbar>
              <md-list ng-show="selected">
                <md-divider></md-divider>
                <md-subheader ng-show="offline" class="md-no-sticky">{{selected}} is currently offline.</md-subheader>
                <md-subheader ng-show="chat.error" class="md-no-sticky">{{chat.error}}</md-subheader>
                <md-virtual-repeat-container id="container" flex="flex" ng-show="chat.messages" md-auto-shrink="md-auto-shrink">
                  <md-list-item md-virtual-repeat="message in chat.messages" md-item-size="73" class="md-2-line repeated-item">
                    <div class="md-list-item-text">
                      <div layout="row">
                        <h3>{{message.sender}}</h3><span flex="flex"></span>
                        <p>{{message.date | date: 'd/M/yyyy h:mma'}}</p>
                      </div><span>{{message.content}}</span>
                    </div>
                  </md-list-item>
                </md-virtual-repeat-container>
              </md-list>
            </md-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>