
<div layout="column">
  <div layout="row" layout-align="center center" class="inset">
    <div flex="95" flex-gt-md="80">
      <div ng-hide="success">
        <h3>{{errorMessage}}</h3>
        <md-button ng-click="back()" class="md-primary">Return</md-button>
      </div>
      <div ng-show="success">
        <md-card>
          <md-toolbar ng-hide="selected.length || search" class="md-table-toolbar md-default">
            <div class="md-toolbar-tools"><span>Resources List for {{courseCode}}</span><span flex="flex"></span>
              <md-button ng-click="addResDialog($event)" aria-label="Add" class="md-icon-button">
                <md-icon class="material-icons">add</md-icon>
              </md-button>
              <md-button ng-click="search = !search" aria-label="Search" class="md-icon-button">
                <md-icon class="material-icons">search</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-toolbar ng-show="search &amp;&amp; !selected.length" class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
              <md-input-container flex="flex" md-no-float="md-no-float">
                <md-icon class="material-icons">search</md-icon>
                <input type="text" ng-model="searchRes" placeholder="Search Resources"/>
              </md-input-container>
              <md-button ng-click="search = !search" aria-label="Back" class="md-icon-button">
                <md-icon class="material-icons">clear</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-toolbar ng-show="selected.length" class="md-table-toolbar md-accent md-hue-1">
            <div class="md-toolbar-tools"><span>{{selected.length}} Resource(s) selected</span><span flex="flex"></span>
              <md-button ng-click="delete()" aria-label="Delete" class="md-icon-button">
                <md-icon class="material-icons">delete</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-table-container>
            <table md-table="md-table" md-row-select="admin" ng-model="selected">
              <thead md-head="md-head" md-order="order">
                <tr md-row="md-row">
                  <th md-column="md-column" md-order-by="name">Resource</th>
                  <th md-column="md-column" md-order-by="uploader" hide-xs="hide-xs">Uploader</th>
                  <th md-column="md-column" md-order-by="dateOfUpload" hide-xs="hide-xs">Date of Upload</th>
                </tr>
              </thead>
              <tbody md-body="md-body">
                <tr md-row="md-row" ng-repeat="res in ress | filter: searchRes | orderBy: order | limitTo: limit: (page - 1) * limit" md-select="res">
                  <td md-cell="md-cell"><a ng-click="check(res._id)" class="link">{{res.name}}</a></td>
                  <td md-cell="md-cell" hide-xs="hide-xs">{{res.uploader}}</td>
                  <td md-cell="md-cell" hide-xs="hide-xs">{{res.dateOfUpload | date:'d/M/yyyy'}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <md-table-pagination md-limit="limit" md-page="page" md-total="{{ress.length}}"></md-table-pagination>
        </md-card>
        <md-card ng-show="resource &amp;&amp; !selected.length &amp;&amp; !deleted">
          <md-card-header>
            <md-card-avatar><img ng-src="/images/user/{{resource.icon}}" class="md-user-avatar"/></md-card-avatar>
            <md-card-header-text><span class="md-title">{{resource.uploader}}</span><span class="md-subhead">{{resource.dateOfUpload | date:'d/M/yyyy h:mma'}}</span></md-card-header-text><span flex="flex"></span>
            <md-button ng-show="uid === resource.uploader" ng-click="editResDialog($event)" aria-label="Edit resource" class="md-icon-button">
              <md-icon class="material-icons">mode_edit</md-icon>
            </md-button>
          </md-card-header>
          <md-card-content>
            <p>Resource name: {{resource.name}}</p>
            <p> </p><span>Description:</span>
            <section layout-wrap="layout-wrap" ng-bind-html="resource.description"></section>
          </md-card-content>
          <md-toolbar class="md-table-toolbar md-default">
            <form>
              <div layout="row" layout-align="end center" class="md-toolbar-tools">
                <md-input-container flex="flex" md-no-float="md-no-float">
                  <input flex="flex" type="text" ng-model="newComment" placeholder="New Comment"/>
                </md-input-container>
                <md-button type="submit" ng-click="addComment()" aria-label="Comment" class="md-icon-button">
                  <md-icon class="material-icons">comment</md-icon>
                </md-button>
                <md-button ng-click="download()" aria-label="Download" class="md-icon-button">
                  <md-icon class="material-icons">file_download</md-icon>
                </md-button>
              </div>
            </form>
          </md-toolbar>
          <md-list flex="flex">
            <md-subheader class="md-no-sticky">{{resource.comment.length}} comment(s)</md-subheader>
            <md-divider></md-divider>
            <md-virtual-repeat-container id="container" flex="flex" md-auto-shrink="md-auto-shrink">
              <md-list-item md-virtual-repeat="cm in resource.comment" md-item-size="73" class="md-2-line repeated-item"><img ng-src="/images/user/{{cm.icon}}" alt="{{cm.author}}" class="md-avatar"/>
                <div class="md-list-item-text">
                  <div layout="row">
                    <h3>{{cm.author}}</h3><span flex="flex"></span>
                    <p>{{cm.dateOfComment | date:'d/M/yyyy h:mma'}}</p>
                  </div>
                  <p>{{cm.content}}</p>
                </div>
                <md-button ng-show="admin" ng-click="deleteComment(cm._id)" aria-label="Delete Comment" class="md-secondary md-icon-button">
                  <md-icon class="material-icons">delete</md-icon>
                </md-button>
              </md-list-item>
            </md-virtual-repeat-container>
          </md-list>
        </md-card>
      </div>
    </div>
  </div>
</div>