
<div ng-hide="success">
  <h3>{{errorMessage}}</h3>
  <button ng-click="$route.reload()">Return</button>
</div>
<div ng-show="success">
  <h1>Resource Detail</h1>
  <div ng-hide="editing">
    <p>Resource name: {{resource.name}}</p>
    <p>Uploader: {{resource.uploader}}</p>
    <p>
       
      Description:<br/><span ng-bind-html="resource.description"></span>
    </p>
    <p>Date of upload: {{resource.dateOfUpload | date:'d/M/yyyy'}}</p>
    <p>
      <button ng-show="uid === resource.uploader" ng-click="enableEdit()">Edit Resource</button>
      <button ng-show="!adding" ng-click="enableAdd()">Add Comment</button>
      <button ng-click="download()">Download</button>
    </p>
  </div>
  <div ng-show="editing">
    <form> 
      <p>Resource name:
        <input type="text" ng-model="edit.name"/>
      </p>
      <p>Uploader: {{resource.uploader}} </p>
      <p>Description:</p>
      <p>
        <text-angular ng-model="htmlVariable"></text-angular>
      </p>
      <p>Date of upload: {{resource.dateOfUpload | date:'d/M/yyyy'}}</p>
      <p>
        <button type="submit" ng-click="editResource()">Sumbit</button>
      </p>
    </form>
  </div>
  <div ng-show="adding">
    <form>
      <p>Comment:</p>
      <p> 
        <textarea rows="3" cols="50" ng-model="newComment"></textarea>
      </p>
      <button type="submit" ng-click="addComment()">Confirm</button>
    </form>
  </div>
  <Strong>{{resource.comment.length}} Comments:</Strong>
  <div ng-repeat="cm in resource.comment">
    <p>Author: {{cm.author}}</p>
    <p>Time: {{cm.dateOfComment | date:'dd/MM/yyyy'}}</p>
    <p>Comment:<br/>{{cm.content}}</p>
    <p>
      <button ng-show="admin" ng-click="deleteComment(cm._id)">Delete</button>
    </p>
  </div>
  <p>
    <button ng-click="$location.path(&quot;/resource/&quot; + resource.courseCode)">Back</button>
  </p>
</div>