<div ng-hide="success">
  <h1>{{errorMessage}}</h1>
  <button ng-click="return()">Return</button>
</div>
<div ng-show="success">
  <h1>I have <span>{{todos.length}} tasks.</span></h1>
  <form ng-submit="create()">
    <p>New Task: 
      <input type="text" ng-model="newTask.content"/>
    </p>
  </form>
  <table>
    <tr ng-hide="todo.editing" ng-repeat-start="todo in todos">
      <td><span ng-click="todo.editing=enableEdit(todo)">{{todo.content}} </span><i>by {{todo.user}}</i></td>
      <td> 
        <button ng-click="delete(todo._id)" ng-show="admin || todo.user === uid">delete</button>
      </td>
    </tr>
    <tr ng-show="todo.editing" ng-repeat-end="ng-repeat-end">
      <td> 
        <form ng-submit="todo.editing=edit(todo._id)">
          <input type="text" ng-model="editTask.content" ng-value="todo.content"/>
        </form>
      </td>
      <td> 
        <button ng-click="delete(todo._id)">delete</button>
      </td>
    </tr>
  </table>
</div>