
<div layout="column">
  <div layout="row" layout-align="center center" class="inset">
    <div flex="95" flex-gt-sm="80">
      <div ng-hide="success">
        <h3>{{errorMessage}}</h3>
        <md-button ng-click="back()" class="md-primary">Return</md-button>
      </div>
      <div ng-show="success">
        <md-card>
          <md-card-header>
            <md-card-avatar ng-hide="thread.author === &quot;Anonymous&quot;"><img ng-src="/images/user/{{thread.icon}}" class="icon"/></md-card-avatar>
            <md-card-header-text><a ng-href="#/user/profile/{{thread.author}}" class="md-title">{{thread.author}}</a><span class="md-subhead">{{thread.dateOfThread | date:'d/M/yyyy h:mma'}}</span></md-card-header-text><span flex="flex"></span>
            <md-button ng-show="uid === thread.author" ng-click="editThreadDialog($event)" aria-label="Edit thread" class="md-icon-button">
              <md-icon class="material-icons">mode_edit</md-icon>
            </md-button>
            <md-button ng-click="reportDialog($event)" aria-label="report" class="md-icon-button">
              <md-icon class="material-icons">report</md-icon>
            </md-button>
          </md-card-header>
          <md-card-title>
            <md-card-title-text><span class="md-headline">{{thread.topic}}</span></md-card-title-text>
          </md-card-title>
          <md-card-content>
            <section layout-wrap="layout-wrap"><span ng-bind-html="thread.content"></span></section>
          </md-card-content>
          <md-toolbar class="md-table-toolbar md-default">
            <form>
              <div layout="row" layout-align="end center" class="md-toolbar-tools">
                <md-input-container flex="flex" md-no-float="md-no-float">
                  <input flex="flex" type="text" ng-model="newComment" placeholder="New Comment"/>
                </md-input-container>
                <md-button type="submit" ng-click="addComment()" aria-label="Comment" class="md-icon-button">
                  <md-icon class="material-icons">comment</md-icon>
                </md-button>
              </div>
            </form>
          </md-toolbar>
          <md-list flex="flex">
            <md-subheader class="md-no-sticky">{{thread.comment.length}} comment(s)</md-subheader>
            <md-divider></md-divider>
            <md-virtual-repeat-container id="container" flex="flex" md-auto-shrink="md-auto-shrink">
              <md-list-item md-virtual-repeat="cm in thread.comment" md-item-size="73" class="md-2-line repeated-item"><img ng-src="/images/user/{{cm.icon}}" alt="{{cm.author}}" class="md-avatar"/>
                <div class="md-list-item-text">
                  <div layout="row"><a ng-href="#/user/profile/{{cm.author}}">{{cm.author}}</a><span flex="flex"></span>
                    <p>{{cm.dateOfComment | date:'d/M/yyyy h:mma'}}</p>
                  </div>
                  <p>{{cm.content}}</p>
                </div>
                <md-button ng-show="admin" ng-click="deleteComment(cm._id)" aria-label="Delete Comment" class="md-secondary md-icon-button">
                  <md-icon class="material-icons">delete</md-icon>
                </md-button>
              </md-list-item>
            </md-virtual-repeat-container>
          </md-list>
        </md-card>
      </div>
    </div>
  </div>
</div>