
<div layout="column">
  <div layout="row" layout-align="center center" class="inset">
    <div flex="95" flex-gt-sm="80">
      <div ng-hide="success">
        <h3>{{errorMessage}}</h3>
        <md-button ng-click="back()" class="md-primary">Return</md-button>
      </div>
      <div ng-show="success">
        <div layout="column" ng-show="visituid === uid">
          <h1 layout-padding="layout-padding">{{visituid}}'s Timetable</h1>
          <div layout="column" layout-gt-sm="row">
            <div flex="40">
              <md-card>
                <md-toolbar class="md-table-toolbar md-default">
                  <div class="md-toolbar-tools"><span>Selected List</span></div>
                </md-toolbar>
                <md-list>
                  <md-list-item md-ink-ripple="false" ng-repeat="select in selected">
                    <div class="md-list-item-text"><span>{{select.courseCode}}</span></div>
                    <md-button ng-click="pop($index)" aria-label="Delete" class="md-secondary md-icon-button">
                      <md-icon class="material-icons">delete</md-icon>
                    </md-button>
                  </md-list-item>
                </md-list>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="submit()">Sumbit timetable</md-button>
                </md-card-actions>
              </md-card>
              <md-card>
                <form ng-submit="search()">
                  <div class="md-toolbar-tools">
                    <md-input-container flex="flex" md-no-float="md-no-float">
                      <md-icon class="material-icons">search</md-icon>
                      <input type="text" ng-model="deptCode" placeholder="Department code" autocomplete="off"/>
                    </md-input-container>
                  </div>
                </form>
                <md-table-container>
                  <table md-table="md-table" class="deptcourselist">
                    <thead md-head="md-head" ng-show="courses">
                      <tr md-row="md-row">
                        <th md-column="md-column" class="fixed">Course Code</th>
                        <th md-column="md-column">Course Name</th>
                      </tr>
                    </thead>
                    <tbody md-body="md-body">
                      <tr md-row="md-row" ng-repeat="course in courses" ng-mouseover="active($index)" ng-mouseleave="deactive()" ng-click="push($index)">
                        <td md-cell="md-cell" class="fixed">{{course.courseCode}}</td>
                        <td md-cell="md-cell">{{course.courseName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
              </md-card>
            </div>
            <div flex="60">
              <md-card>
                <md-table-container>
                  <table class="timetable">
                    <thead>
                      <tr>
                        <th class="index"></th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in timetable">
                        <td class="index">{{$index + 1}}</td>
                        <td ng-class="{timeslot: row[0].active, normal: !row[0].active}">{{row[0].name}}</td>
                        <td ng-class="{timeslot: row[1].active, normal: !row[1].active}">{{row[1].name}}</td>
                        <td ng-class="{timeslot: row[2].active, normal: !row[2].active}">{{row[2].name}}</td>
                        <td ng-class="{timeslot: row[3].active, normal: !row[3].active}">{{row[3].name}}</td>
                        <td ng-class="{timeslot: row[4].active, normal1: !row[4].active}">{{row[4].name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
              </md-card>
            </div>
          </div>
        </div>
        <div layout="column" ng-show="visituid !== uid">
          <h1 layout-padding="layout-padding">{{visituid}}'s Timetable</h1>
          <div flex="flex">
            <md-card>
              <md-table-container>
                <table class="timetable">
                  <thead>
                    <tr>
                      <th class="index"></th>
                      <th>Mon</th>
                      <th>Tue</th>
                      <th>Wed</th>
                      <th>Thu</th>
                      <th>Fri</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="row in timetable">
                      <td class="index">{{$index + 1}}</td>
                      <td ng-class="{timeslot: row[0].active, normal: !row[0].active}">{{row[0].name}}</td>
                      <td ng-class="{timeslot: row[1].active, normal: !row[1].active}">{{row[1].name}}</td>
                      <td ng-class="{timeslot: row[2].active, normal: !row[2].active}">{{row[2].name}}</td>
                      <td ng-class="{timeslot: row[3].active, normal: !row[3].active}">{{row[3].name}}</td>
                      <td ng-class="{timeslot: row[4].active, normal1: !row[4].active}">{{row[4].name}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
            </md-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>