<!DOCTYPE html>
<html ng-app="cupTodo">
  <head>
    <title>CUP Todo List</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/todo.js"></script>
  </head>
  <body ng-controller="mainController">
    <h1>I have <span>{{todos.length}}</span> tasks!</h1>
    <form ng-submit="create()">
      <p>New Task: 
        <input type="text" name="content" ng-model="newTask.content">
      </p>
    </form>
    <table>
      <tr ng-hide="todo.editing" ng-repeat-start="todo in todos">
        <td> <span ng-click="todo.editing=enableEdit(todo.content)">{{todo.content}}</span></td>
        <td> 
          <button ng-click="delete(todo._id)">delete</button>
        </td>
      </tr>
      <tr ng-show="todo.editing" ng-repeat-end>
        <td> 
          <form ng-submit="todo.editing=edit(todo._id)">
            <input type="text" ng-model="editTask.content" ng-value="todo.content">
          </form>
        </td>
        <td> 
          <button ng-click="delete(todo._id)">delete</button>
        </td>
      </tr>
    </table>
  </body>
</html>