div(layout='column')
	div.inset(layout='row' layout-align='center center')
		div(flex='95' flex-gt-sm='80')
			div(ng-hide='success')
				h3 {{errorMessage}}
				md-button.md-primary(ng-click='back()') Return
			div(ng-show='success')
				h1(layout-padding) Trading Record
				md-card
					md-tabs(md-dynamic-height md-border-bottom)
						md-tab(label='Interest')
							md-toolbar.md-table-toolbar.md-default(ng-hide='searchBuy')
								div.md-toolbar-tools
									span Interest List
									span(flex)
									md-button.md-icon-button(ng-click='searchBuy = !searchBuy' aria-label='Search Buy')
										md-icon.material-icons search

							md-toolbar.md-table-toolbar.md-default(ng-show='searchBuy')
								div.md-toolbar-tools
									md-input-container(flex md-no-float)
										md-icon.material-icons search
										input(type='text' ng-model='searchBuyRecord' placeholder='Search record')
									md-button.md-icon-button(ng-click='searchBuy = !searchBuy' aria-label='Back')
										md-icon.material-icons clear

							md-table-container
								table.recordlist(md-table)
									thead(md-head md-order='orderBuy')
										tr(md-row)
											th.fixed(md-column md-order-by='name') Item name
											th(md-column md-order-by='category' hide show-gt-sm) Category
											th(md-column md-order-by='price') Price
											th(md-column md-order-by='seller' hide show-gt-md) Seller
											th(md-column md-order-by='status') Status
											th(md-column md-order-by='date' hide show-gt-md) Date of update
									tbody(md-body)
										tr(md-row ng-repeat='item in buylist | filter: searchBuyRecord | orderBy: orderBuy | limitTo: limit: (page - 1) * limit')
											td.fixed(md-cell)
												a(ng-href='#/item/{{item.item._id}}') {{item.item.name}}
											td(md-cell hide show-gt-sm) {{item.item.category}}
											td(md-cell) {{item.item.price | currency}}
											td(md-cell hide show-gt-md) {{item.item.seller}}
											td(md-cell) {{item.status}}
											td(md-cell hide show-gt-md) {{item.dateOfUpdate | date:'d/M/yyyy h:mma'}}
							md-table-pagination(md-limit='limit' md-page='page' md-total='{{buylist.length}}')
						md-tab(label='Sell')
							md-toolbar.md-table-toolbar.md-default(ng-hide='searchSell')
								div.md-toolbar-tools
									span Sell List
									span(flex)
									md-button.md-icon-button(ng-click='searchSell = !searchSell' aria-label='Search Sell')
										md-icon.material-icons search

							md-toolbar.md-table-toolbar.md-default(ng-show='searchSell')
								div.md-toolbar-tools
									md-input-container(flex md-no-float)
										md-icon.material-icons search
										input(type='text' ng-model='searchSellRecord' placeholder='Search record')
									md-button.md-icon-button(ng-click='searchSell = !searchSell' aria-label='Back')
										md-icon.material-icons clear

							md-table-container
								table.recordlist(md-table)
									thead(md-head md-order='orderSell')
										tr(md-row)
											th.fixed(md-column md-order-by='name') Item name
											th(md-column md-order-by='category' hide show-gt-sm) Category
											th(md-column md-order-by='price') Price
											th(md-column md-order-by='status') Status
											th(md-column md-order-by='date' hide show-gt-md) Date of update
									tbody(md-body)
										tr.fixed(md-row ng-repeat='item in selllist | filter: searchSellRecord | orderBy: orderSell | limitTo: limit: (page - 1) * limit')
											td(md-cell)
												a(ng-href='#/item/{{item._id}}') {{item.name}}
											td(md-cell hide show-gt-sm) {{item.category}}
											td(md-cell) {{item.price | currency}}
											td(md-cell) {{item.sold?(item.active?"":"Sold"):(item.active?"Unsold (" + item.buyer.length + ")":"Unavailable")}}
											td(md-cell hide show-gt-md) {{item.date | date:'d/M/yyyy h:mma'}}
							md-table-pagination(md-limit='limit' md-page='page' md-total='{{selllist.length}}')