h1 Welcome
form
	input(type='text', ng-model='user.uid', placeholder='User ID')
	br
	input(type='password', ng-model='user.pwd', placeholder='Password')
button(type='submit', ng-click='sumitUser()') Login
t
button(ng-click='register()') Register
p {{message}}