extends layout

block append script
	script(type= 'text/javascript', src= '/javascripts/todo.js')

block content
	h1= title
	form(action='/todo', method='post')
		p New Task: 
			input(type='text', name='content')
	table.tasks
		each task in taskList
			tr
				td
					form(class='edit', id='#{task._id}') 
						span.edit #{task.content}
				td
					button(class='delete', id='#{task._id}') delete