md-content.md-default-theme {
  background-color: #fafafa;
}

span.error {
	color: red;
}

input {
	border: none;
}

input:focus {
	outline: none;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

section {
	background: #f7f7f7;
	border-radius: 3px;
	position: relative;
	padding: 10px;
}

h1.rating {
	text-align: center;
}

a {
	color: purple;
	text-decoration: underline;
}