md-content.md-default-theme {
  background-color: #fafafa;
}

span.error {
	color: red;
}

input {
	border: none;
}

input:focus {
	outline: none;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

section {
	background: #f7f7f7;
	border-radius: 3px;
	position: relative;
	padding: 10px;
}

h1.rating {
	text-align: center;
}

h3.price {
	margin: 0px;
}

a {
	color: purple;
	text-decoration: underline;
}

figure img {
	max-height: 100%;
	max-width: 100%;
} 

.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
	width: 100%; 
}

.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
	margin: 0;
	font-weight: 700;
	width: 100%;
	text-align: center;
}

.selected {
	background-color: #e0e0e0;
}